{% extends 'base.html' %}
{% load static %}

{% block style %}

{% endblock style %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <h1>Dashboard</h1>
    </div>
    <div class="col-sm-4">
        <div class="col-sm-12">
            <h3>Matches</h3>
            <hr/>
        </div>
        
        {% for match_user, percent in matches %}
            <div class="col-sm-4 text-center">
                <a href="{{match_user.profile.get_absolute_url}}">
                    {{match_user}}
                    <br>
                    {% if match_user.profile.picture %}
                        <img src="{{match_user.profile.picture.url}}" alt="user profile picture" class="img-responsive center-block img-featured-match">
                    {% else %}
                        <img src="{% static 'img/avatar.jpeg' %}" alt="user profile image" class="img-responsive center-block img-featured-match">
                    {% endif %}
                    {{percent}}
                </a>
            </div>
        {% endfor %}


        <div class="col-sm-12">
            <h1>Suggested positions</h1>
            <hr/>
        </div>
        
        {% for position in positions %}
            <div class="col-sm-4">
                <p class="lead">{{position}}</p>
            </div>
        {% endfor %}


        <div class="col-sm-12">
            <h1>Suggested locations</h1>
            <hr/>
        </div>
        
        {% for loc in locations %}
            <div class="col-sm-4">
                <p class="lead">{{loc.location.name}}</p>
            </div>
        {% endfor %}


        <div class="col-sm-12">
            <h1>Suggested employers</h1>
            <hr/>
        </div>
        
        {% for emp in employers %}
            <div class="col-sm-4">
                <p class="lead">{{emp.employer.name}}</p>
            </div>
        {% endfor %}
                    
    </div>
</div>
{% endblock content %}
    