{% extends 'base.html' %}
{% load static %}

{% block style %}

{% endblock style %}

{% block content %}

{% if new_user %}
    <div class="row">
        <div class="col-sm-12">
            <p class="lead text-center">Answer more questions to get the best match and connect</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            
            {% if question_instance %}
                {% include 'questions/user_response_form.html' with form=question_form instance=question_instance center_text=True %}
            {% else %}
                <p class="lead text-center">
                    you have already answered all questions please try later
                </p>
            {% endif %}
                
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-sm-8">
            
            {% if question_instance %}
                {% include 'questions/user_response_form.html' with form=question_form instance=question_instance title_size=3 center_text=True %}
            {% else %}
                <p class="lead text-center">
                    you have already answered all questions, please try later 
                </p>
            {% endif %}
                
            {% if mutual_likes %}
                <div class="col-sm-12">
                    <h3>Mutual interest</h3>
                    {% for liked_user in mutual_likes %}
                        <div class="col-sm-3 text-center">
                            <a href="{{liked_user.profile.get_absolute_url}}">
                                {{liked_user}}
                                <br>
                                {% if liked_user.profile.picture %}
                                    <img src="{{liked_user.profile.picture.url}}" alt="user profile picture" class="img-responsive center-block img-featured-match">
                                {% else %}
                                    <img src="{% static 'img/avatar.jpeg' %}" alt="user profile image" class="img-responsive center-block img-featured-match">
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
                
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12">
                <h3>Matches</h3>
                <hr/>
            </div>
            
            {% for match_user, percent in matches %}
                <div class="col-sm-4 text-center">
                    <a href="{{match_user.profile.get_absolute_url}}">
                        {{match_user}}
                        <br>
                        {% if match_user.profile.picture %}
                            <img src="{{match_user.profile.picture.url}}" alt="user profile picture" class="img-responsive center-block img-featured-match">
                        {% else %}
                            <img src="{% static 'img/avatar.jpeg' %}" alt="user profile image" class="img-responsive center-block img-featured-match">
                        {% endif %}
                        {{percent}}
                    </a>
                </div>
            {% endfor %}


            <div class="col-sm-12">
                <h1>Suggested positions</h1>
                <hr/>
            </div>
            
            {% for pos in positions %}
                <div class="col-sm-4">
                    <p class="lead"><a href="{{pos.get_match_url}}">{{pos.job.title}}</a></p>
                </div>
            {% endfor %}


            <div class="col-sm-12">
                <h1>Suggested locations</h1>
                <hr/>
            </div>
            
            {% for loc in locations %}
                <div class="col-sm-4">
                    <p class="lead"><a href="{{loc.get_match_url}}">{{loc.location.name}}</a></p>
                </div>
            {% endfor %}


            <div class="col-sm-12">
                <h1>Suggested employers</h1>
                <hr/>
            </div>
            
            {% for emp in employers %}
                <div class="col-sm-4">
                    <p class="lead"><a href="{{emp.get_match_url}}">{{emp.employer.name}}</a></p>
                </div>
            {% endfor %}
                        
        </div>
    </div>
{% endif %}
{% endblock content %}
    