{% extends 'base.html' %}
{% load static %}

{% block title %}
    profile
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-2">
            <h3>{{profile.user.username}}</h3>
            {% if profile.picture %}
                <img src="{{profile.picture.url}}" width="300px" alt="profile image" lass='img-responsive'>
            {% else %}
                <img src='{% static "img/avatar.jpeg" %}' class='img-responsive' alt="profile image not found" />
            {% endif %}
        </div>
    </div>

{% if jobs %}
    <div class="row">
        <ul>
            
            {% for job in jobs %}
                <li>{{job.position}} in {{job.location}} at {{job.employer_name}}</li>
            {% endfor %}
            <li><a href="{% url 'profiles:update_jobs' %}">edit jobs</a></li>
        </ul>
    </div>
{% else %}
    <p class="lead">you don't have any job please <a href="{% url 'profiles:add_jobs' %}">Add some</a></p>
{% endif %}
    
{% endblock content %}
