{% extends 'base.html' %}
{% load static %}

{% block title %}
    profile
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-2">
            <h3>{{profile.user.username}}</h3>
            <p class="lead">Match: {{match.get_percent}}</p>
            {% if profile.picture %}
                <img src="{{profile.picture.url}}" alt="profile image">
            {% else %}
                <img src='{% static "img/avatar.jpeg" %}' class='img-responsive' alt="profile image not found" />
            {% endif %}
        </div>
    </div>

{% if jobs %}
    <div class="row">
        <ul>
            
            {% for job in jobs %}
                <li>{{job.position}} in {{job.location}} at {{job.employer_name}}</li>
            {% endfor %}
                
        </ul>
    </div>
{% endif %}
    
{% endblock content %}
